services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    environment:
      APP_NAME: esapp
      APP_ENV: local
      APP_KEY: base64:KRz3jXPYdm8gjYF4qUGqtjO/bx8m/s2CRCkDPqspvqE=
      APP_DEBUG: "true"
      APP_URL: http://localhost:8000
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: esapp
      DB_USERNAME: root
      DB_PASSWORD: dh28042005
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: dh28042005
      MYSQL_DATABASE: esapp
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel

  # PHẦN PHPMYADMIN PHẢI NẰM THỤT VÀO NHƯ THẾ NÀY
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: laravel_phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=db
      - MYSQL_ROOT_PASSWORD=dh28042005
    networks:
      - laravel

networks:
  laravel:

volumes:
  dbdata: